
.ContenedorInicio {
  background: url("../../public/fondo/fondo-inicio.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  background-size:cover;
  max-height: 800px;  
 }

