.paginacion {
  color: #838383;
}

.contenedorFlujoFH {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedorSubInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0;
}

h3 {
  /* <1440 Desktop/32 - H3 */
  //font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  /* identical to box height */
  letter-spacing: 0.025em;

  /* Primary Text */
  color: #3f3838;
}

.subtitulo2 {
  //font-family: Sintony;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;

/* Primary Text */

  color: #3F3838;
}

.body1 {
  /* <1440 Desktop/16 - Body 1 */
  //font-family: Sintony;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;

  color: #3f3838;
}

.contenedorBotones {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px 60px;
}

.btn {
  padding: 10px;
  border: 1px solid;
}

.seleccionProducto {
  width: 600px;
  height: 50px;
}

.contenedorSelector {
  margin: 10px 0;
}

.contenedorSelector > input {
  width: 600px;
  height: 48px;
  background: #FAFAFA;
  /* Background Dark */

  border: 1.5px solid #E8E8E8;
  box-sizing: border-box;
  border-radius: 5px;
}

.flujoProd {
  margin: auto;
}

.marginText {
  margin: 25px 0;
}

.marginTitulo {
  margin: 35px 0;
}

.contenedorTexto {
  width: 70vw;
}

.headline {
  /* <1440 Desktop/32 - Headline Small ST */

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.025em;

  /* Primary Text */
  color: #3A3A3A;

  margin: 10px 0;
}

.bodyST {
  /* <1440 Desktop/16 - Body ST */

font-family: Sintony;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.025em;

  /* Primary Text */
  color: #3A3A3A;

  margin: 25px 0;
}

.contenedorReservado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42vw;
  height: 100vh;
}

.estiloLinkHistorial {
  /* <1440 Desktop/16 - Button AC */

//font-family: Sintony;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Secondary Brand 2 */

color: #00A6D6;
}

.btnCompra {
  /* Auto Layout */

display: flex;
flex-direction: row;
padding: 13.5px 16px;

position: absolute;
width: 242px;
height: 48px;
left: 774px;
top: 684px;

/* Secondary Brand Color */

background: #33A9CA;
border-radius: 5px;
}

.contenedorGralHistorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedorHeadHistorial{
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 50px 0;
}

.contenedorTitle {
  width: 60%;
  margin: auto;
}

.contenedorSelector {
  width: 40%;
  margin: auto;
}

.contenedorBtnHistorial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  width: 80vw;
  margin: 20px 0;
}

.paginacion {
  color: #838383;
}

.page-link {
  color: #3F3838;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.025em;
}

.bkcolor {
  background: #33A9CA;
  color: white;
}

.bkTablaHistorial {
  background: #003459;
  border-radius: 5px;
}

.table-dark tbody+tbody, .table-dark td, .table-dark th, .table-dark thead th {
  border-color: white;
}