.contenedorProgramacion {
    padding:50px;
}


.contenedorProgramacion p {
    text-align: justify;
}

.contenedorPrograma {
    padding: 15px 30px;
}

.opcionesRecargo {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    margin: 10px 0 30px 0;
}

th, td {
    text-align: center;
}

.opcion {
    display: flex;
    align-items: center;
}

.opcion p{
    margin: 0px;
}

.caja {
    width: 15px;
    height: 15px;
    margin-right:3px;
}

.reservado {
    background-color: #DADADA;
    
}

.sinRecargo {
    background-color: #37B47E;
}

.cincoRecargo {
    background-color: #FFB8B8;
}

.quinceRecargo {
    background-color: #AFDEEB;
}



.contenedorSub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

h3 {
  /* <1440 Desktop/32 - H3 */
  //font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  /* identical to box height */
  letter-spacing: 0.025em;

  /* Primary Text */
  color: #3f3838;
}

.subtitulo2 {
  //font-family: Sintony;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;

/* Primary Text */

  color: #3F3838;
}

.body1 {
    /* <1440 Desktop/16 - Body 1 */
    //font-family: Sintony;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.025em;
}
   

.wrapper {
    width: 600px;
    margin: 0 auto;
  }
  
  .accordion-wrapper {
    & + * {
      margin-top: 0.5em;
    }
  }
  
  .accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
  }
  
  .accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
  }
  
  .accordion-title {
    font-weight: 600;
    cursor: pointer;
    color: #666;
    padding: 0.5em 1.5em;
    border: solid 1px #ccc;
    border-radius: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid currentColor;
    }
  
    &:hover,
    &.open {
      color: black;
    }
  
    &.open {
      &::after {
        content: "";
        border-top: 0;
        border-bottom: 5px solid;
      }
    }
  }
  
  .accordion-content {
    padding: 1em 1.5em;
  }
  