.table {
    padding: 50px;
}

.cabeceraTabla {
    background-color: #0090F7;;
    color: white;
    text-align: center;
}

.horaTabla {
    background-color: #EEECF1;
    text-align: center;
}

.reservado {
    background-color: #DADADA;
    
}

.sinRecargo {
    background-color: #37B47E;
}

.cincoRecargo {
    background-color: #FFB8B8;
}

.quinceRecargo {
    background-color: #AFDEEB;
}